In [11]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt

%matplotlib inline

import zipfile
import urllib

In [25]:
Loan3a = pd.read_csv('LoanStats3a.csv', header = 1)
Loan3a.head()

/Applications/anaconda/lib/python2.7/site-packages/pandas/io/parsers.py:1164: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code
0,1077501,1296599,5000,5000,4975,36 months,10.65%,162.87,B,B2,...,0.00,0.00,0.00,Jan-2015,171.62,NaN,Jan-2015,0,NaN,1
1,1077430,1314167,2500,2500,2500,60 months,15.27%,59.83,C,C4,...,0.00,117.08,1.11,Apr-2013,119.66,NaN,Sep-2013,0,NaN,1
2,1077175,1313524,2400,2400,2400,36 months,15.96%,84.33,C,C5,...,0.00,0.00,0.00,Jun-2014,649.91,NaN,Mar-2015,0,NaN,1
3,1076863,1277178,10000,10000,10000,36 months,13.49%,339.31,C,C1,...,16.97,0.00,0.00,Jan-2015,357.48,NaN,Jan-2015,0,NaN,1
4,1075358,1311748,3000,3000,3000,60 months,12.69%,67.79,B,B5,...,0.00,0.00,0.00,Mar-2015,67.79,Apr-2015,Mar-2015,0,NaN,1

In [27]:
Loan3b = pd.read_csv('LoanStats3b.csv', header = 1)
Loan3b.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code
0,10159548,12011167,15000,15000,15000,36 months,8.90%,476.30,A,A5,...,0,0,0,Mar-2015,476.30,May-2015,Mar-2015,0,34,1
1,10149488,12001033,4800,4800,4800,36 months,10.99%,157.13,B,B2,...,0,0,0,Sep-2014,3900.48,NaN,Mar-2015,0,NaN,1
2,10129403,11981032,7550,7550,7550,36 months,16.24%,266.34,C,C5,...,0,0,0,Mar-2015,266.34,May-2015,Mar-2015,0,NaN,1
3,10159498,1319523,12000,12000,12000,36 months,6.62%,368.45,A,A2,...,0,0,0,Mar-2015,368.45,May-2015,Feb-2015,0,NaN,1
4,10149342,12000897,27050,27050,27050,36 months,10.99%,885.46,B,B2,...,0,0,0,Mar-2015,885.46,May-2015,Jan-2015,0,NaN,1

In [28]:
Loan3c = pd.read_csv('LoanStats3c.csv', header = 1)
Loan3c.head()

/Applications/anaconda/lib/python2.7/site-packages/pandas/io/parsers.py:1164: DtypeWarning: Columns (0,19) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code
0,36805548,39558264,10400,10400,10400,36 months,6.99%,321.08,A,A3,...,0,0,0,Mar-2015,321.08,Apr-2015,Mar-2015,0,59,1
1,38098114,40860827,15000,15000,15000,60 months,12.39%,336.64,C,C1,...,0,0,0,Mar-2015,336.64,Apr-2015,Mar-2015,0,NaN,1
2,37822187,40585251,9600,9600,9600,36 months,13.66%,326.53,C,C3,...,0,0,0,Mar-2015,326.53,Apr-2015,Mar-2015,0,NaN,1
3,37662224,40425321,7650,7650,7650,36 months,13.66%,260.20,C,C3,...,0,0,0,Mar-2015,260.20,Apr-2015,Mar-2015,0,NaN,1
4,37612354,40375473,12800,12800,12800,60 months,17.14%,319.08,D,D4,...,0,0,0,Mar-2015,319.08,Apr-2015,Mar-2015,0,36,1

In [114]:
LoanStatAll = Loan3a.append(Loan3b).append(Loan3c)

In [115]:
LoanStatAll['int_rate'] = LoanStatAll['int_rate'].map(lambda x: round(float(str(x).rstrip("%"))/100, 4))

In [116]:
LoanStatAll.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code
0,1077501,1296599,5000,5000,4975,36 months,0.1065,162.87,B,B2,...,0.00,0.00,0.00,Jan-2015,171.62,NaN,Jan-2015,0,NaN,1
1,1077430,1314167,2500,2500,2500,60 months,0.1527,59.83,C,C4,...,0.00,117.08,1.11,Apr-2013,119.66,NaN,Sep-2013,0,NaN,1
2,1077175,1313524,2400,2400,2400,36 months,0.1596,84.33,C,C5,...,0.00,0.00,0.00,Jun-2014,649.91,NaN,Mar-2015,0,NaN,1
3,1076863,1277178,10000,10000,10000,36 months,0.1349,339.31,C,C1,...,16.97,0.00,0.00,Jan-2015,357.48,NaN,Jan-2015,0,NaN,1
4,1075358,1311748,3000,3000,3000,60 months,0.1269,67.79,B,B5,...,0.00,0.00,0.00,Mar-2015,67.79,Apr-2015,Mar-2015,0,NaN,1

In [131]:
LoanStatAll.dropna(inplace = True)
X = LoanStatAll['annual_inc']
y = LoanStatAll['int_rate']

X = sm.add_constant(X)
est = sm.OLS(y, X).fit()

est.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               int_rate   R-squared:                       0.003
Model:                            OLS   Adj. R-squared:                  0.002
Method:                 Least Squares   F-statistic:                     4.104
Date:                Thu, 30 Apr 2015   Prob (F-statistic):             0.0430
Time:                        23:13:05   Log-Likelihood:                 2529.4
No. Observations:                1341   AIC:                            -5055.
Df Residuals:                    1339   BIC:                            -5044.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const          0.1492      0.002     76.125      0.000         0.145     0.153
annual_inc  4.677e-08   2.31e-08      2.026      0.043      1.48e-09  9.21e-08
==============================================================================
Omnibus:                       71.597   Durbin-Watson:                   1.969
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               82.007
Skew:                           0.600   Prob(JB):                     1.56e-18
Kurtosis:                       3.167   Cond. No.                     1.66e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.66e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [79]:
import collections

count = collections.Counter()
for n in LoanStatAll['home_ownership']:
    count[n] +=1
    
count

Counter({'MORTGAGE': 705, 'RENT': 527, 'OWN': 109})

In [127]:
LoanStatAll['home_ownership'] = pd.Categorical(LoanStatAll['home_ownership']).codes

In [129]:
LoanStatAll['home_ownership2'].head()

86     2
87     0
126    0
129    0
155    2
Name: home_ownership2, dtype: int8

In [128]:
est1 = smf.ols(formula ='int_rate ~ home_ownership2 + annual_inc', data=LoanStatAll).fit()

est1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               int_rate   R-squared:                       0.006
Model:                            OLS   Adj. R-squared:                  0.005
Method:                 Least Squares   F-statistic:                     4.269
Date:                Thu, 30 Apr 2015   Prob (F-statistic):             0.0142
Time:                        23:12:30   Log-Likelihood:                 2531.7
No. Observations:                1341   AIC:                            -5057.
Df Residuals:                    1338   BIC:                            -5042.
Df Model:                           2
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [95.0% Conf. Int.]
-----------------------------------------------------------------------------------
Intercept           0.1467      0.002     64.475      0.000         0.142     0.151
home_ownership2     0.0022      0.001      2.103      0.036         0.000     0.004
annual_inc       5.361e-08   2.33e-08      2.303      0.021      7.94e-09  9.93e-08
==============================================================================
Omnibus:                       69.705   Durbin-Watson:                   1.969
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               79.561
Skew:                           0.592   Prob(JB):                     5.29e-18
Kurtosis:                       3.152   Cond. No.                     1.99e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.99e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [126]:
est2 = smf.ols(formula ='int_rate ~ home_ownership2 * annual_inc', data=LoanStatAll).fit()

est2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               int_rate   R-squared:                       0.007
Model:                            OLS   Adj. R-squared:                  0.004
Method:                 Least Squares   F-statistic:                     2.983
Date:                Thu, 30 Apr 2015   Prob (F-statistic):             0.0304
Time:                        20:42:31   Log-Likelihood:                 2531.9
No. Observations:                1341   AIC:                            -5056.
Df Residuals:                    1337   BIC:                            -5035.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
----------------------------------------------------------------------------------------------
Intercept                      0.1479      0.003     51.078      0.000         0.142     0.154
home_ownership2                0.0010      0.002      0.472      0.637        -0.003     0.005
annual_inc                   3.89e-08   3.27e-08      1.191      0.234     -2.52e-08  1.03e-07
home_ownership2:annual_inc  1.702e-08   2.65e-08      0.643      0.520     -3.49e-08   6.9e-08
==============================================================================
Omnibus:                       69.558   Durbin-Watson:                   1.971
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               79.375
Skew:                           0.591   Prob(JB):                     5.81e-18
Kurtosis:                       3.150   Cond. No.                     4.04e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.04e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""